nav {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

h1 {
  text-align: center;
}

form {
  max-width: 80%;
  margin: 0 auto;
  padding: 32px 0;
  flex-direction: row;
  display: flex;
  gap: 16px;
  align-items: center;
}

button {
  padding: 8px 64px;
  background-color: #ccc;
  border: 0;
  width: max-content;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
}
