<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Url</title>

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    function addUrl() {
      $('#res').html("Carregando...")

      $.post('/addUrl', { newUrl: $('#newUrl').val() }).then((res) => {
        console.log(res);

        const resJson = JSON.parse(res);

        $('#res').html(`
          <strong>${resJson.success ? 'URL adicionada com sucesso' : 'Erro ao adicionar URL'}</strong>
        `);
      });
    }
  </script>

</head>

<body>

  <nav>
    <a href="/add-url">Adicionar URL</a>
    <a href="/search-terms">Pesquisar por Termos</a>
    <a href="/search-url">Pesquisar por Url</a>
    <a href="/top-HackerNews">Pesquisar no HackerNews</a>
    <a href="/admin">Admin</a>
  </nav>

  <h1>Adicionar Url</h1>

  <form>
    <div>
      <label>Url: </label>
      <input type="text" id="newUrl" name="newUrl">
    </div>
    <button onclick="addUrl()" type="button">Send URL</button>
  </form>

  <p id="res"></p>
</body>

</html>