<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="./admin.js"></script>

</head>

<body>

  <h1>Admin</h1>

  <div>
    <table>
      <thead>
        <tr>
          <th> Enderço </th>
          <th> Status </th>
          <th> Tempo médio de resposta </th>
        </tr>
      </thead>
      <tbody id="barrels">
        <tr>
          <td><span> Sem dados </span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th> Pequisa </th>
          <th> Repetições </th>
        </tr>
      </thead>
      <tbody id="listTopSearch">
        <tr>
          <td><span> Sem dados </span></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>