<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisar por Termos</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    function searchByTerms() {
      $('#pages').html("Carregando...")

      $.get('/searchByTerms', { terms: $('#terms').val(), page: $('#page').val() }).then((res) => {
        $('#pages').html("")
        const resJson = JSON.parse(res);

        resJson.data.forEach((page, id) => {
          $('#pages').append(`
            <tr >
              <td><span> ${id} </span></td>
              <td><span> ${page.url} </span></td>
              <td><span> ${page.title} </span></td>
              <td><span> ${page.quote} </span></td>
              <td id="page-${id}" ><button type="button" onclick="createShorUrl('${page.url}', ${id})">Criar</button></td>
            </tr>
            `);
        });
      });
    }

    function createShorUrl(longUrl, id) {
      try {
        $.get('/shortUrl', { longUrl }).then((res) => {
          const resJson = JSON.parse(res);

          if (!resJson.success) {
            alert('Erro ao criar URL curta, tente novamente mais tarde.');
            return;
          }

          $(`#page-${id}`).html(`<span> ${resJson.data.tiny_url} </span>`);

        })
      } catch (error) {
        console.log(error);
        alert('Erro ao criar URL curta');
      }
    }

  </script>

</head>

<body>
  <form>
    <div="form-row">
      <div>
        <label>Search Terms: </label>
        <input type="text" id="terms" name="terms" />
        <input type="number" id="page" name="page" />
      </div>
      </div>
      <button onclick="searchByTerms()" type="button">Pesquisar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th> N° </th>
        <th> URL </th>
        <th> Titulo </th>
        <th> Quote </th>
        <th> Short Url </th>
      </tr>
    </thead>
    <tbody id="pages">
    </tbody>
  </table>

</body>

</html>