<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pesquisar URL</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global.css" rel="stylesheet">

  <script>
    function searchUrl() {
      $.get('/searchByUrl', { searchUrl: $('#search-url').val() }).then((res) => {
        console.log(res);

        const resJson = JSON.parse(res);

        resJson.data.forEach((page) => {
          $('#pages').append(`
            <tr >
              <td><span> ${page.url} </span></td>
              <td><span> ${page.title} </span></td>
              <td><span> ${page.quote} </span></td>
            </tr>
            `);
        });
      });
    }
  </script>
</head>

<body>
  <nav>
    <a href="/add-url">Adicionar URL</a>
    <a href="/search-terms">Pesquisar por Termos</a>
    <a href="/search-url">Pesquisar por Url</a>
    <a href="/top-HackerNews">Pesquisar no HackerNews</a>
    <a href="/admin">Admin</a>
  </nav>

  <form method="get">
    <div>
      <label>Search Terms: </label>
      <input type="text" name="search-url" id="search-url" />
    </div>
    <button type="button" onclick="searchUrl()">Pesquisar</button>
  </form>

  <div class="table-container">
    <table id="pages">
      <thead>
        <tr>
          <th>URL</th>
          <th>Titulo</th>
          <th>Quote</th>
        </tr>
      </thead>
      <tbody id="pages"></tbody>
    </table>
  </div>
</body>

</html>