<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisar por Termos</title>

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    function searchByTerms() {
      $('#pages').html("Carregando...")

      $.get('/searchByTerms', { terms: $('#terms').val(), page: $('#page').val() }).then((res) => {
        $('#pages').html("")
        const resJson = JSON.parse(res);

        resJson.data.forEach((page, id) => {
          $('#pages').append(`
            <tr >
              <td><span> ${id} </span></td>
              <td><span> ${page.url} </span></td>
              <td><span> ${page.title} </span></td>
              <td><span> ${page.quote} </span></td>
              <td id="page-${id}" ><button type="button" onclick="createShorUrl('${page.url}', ${id})">Criar</button></td>
            </tr>
            `);
        });
      });
    }

    function createShorUrl(longUrl, id) {
      try {
        $.get('/shortUrl', { longUrl }).then((res) => {
          const resJson = JSON.parse(res);

          if (!resJson.success) {
            alert('Erro ao criar URL curta, tente novamente mais tarde.');
            return;
          }

          $(`#page-${id}`).html(`<span> ${resJson.data.tiny_url} </span>`);

        })
      } catch (error) {
        console.log(error);
        alert('Erro ao criar URL curta');
      }
    }

  </script>

</head>

<body>
  <nav>
    <a href="/add-url">Adicionar URL</a>
    <a href="/search-terms">Pesquisar por Termos</a>
    <a href="/search-url">Pesquisar por Url</a>
    <a href="/top-HackerNews">Pesquisar no HackerNews</a>
    <a href="/admin">Admin</a>
  </nav>

  <h1>Pesquisar Por Termos</h1>

  <form>
    <div>
      <label>Search Terms: </label>
      <input type="text" id="terms" name="terms" />
    </div>
    <div>
      <label for="page">Página:</label>
      <input type="number" id="page" name="page" />
    </div>
    <button onclick="searchByTerms()" type="button">Pesquisar</button>
  </form>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th> N° </th>
          <th> URL </th>
          <th> Titulo </th>
          <th> Quote </th>
          <th> Short Url </th>
        </tr>
      </thead>
      <tbody id="pages">
      </tbody>
    </table>
  </div>

</body>

</html>