<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top stories - HackerNews</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global.css" rel="stylesheet">

  <script>
    function searchTopStories(event) {
      event.preventDefault();
      $('#topStories').html("Carregado...")

      $.get('/getTopHackerNew', { terms: $('#terms').val(), size: $('#size').val() }).then((res) => {
        $('#topStories').html("")
        console.log(res);

        const resJson = JSON.parse(res);

        resJson.data.forEach((storie) => {
          $('#topStories').append(`
            <tr >
              <td><span> ${storie.position} </span></td>
              <td><span> ${storie.title} </span></td>
              <td><span> ${storie.url} </span></td>
              <td><span><button onclick="addUrl('${storie.url}')">Indexar</button></span></td>
            </tr>
            `);
        });
      });
    }

    function addUrl(url) {
      $.post('/addUrl', { newUrl: url }).then((res) => {
        const resJson = JSON.parse(res);

        $('#res').html(`
          <strong>${resJson.success ? `${url} adicionada com sucesso` : `Erro ao adicionar ${url}`}</strong>
        `);
      });
    }

  </script>

</head>

<body>
  <nav>
    <a href="/add-url">Adicionar URL</a>
    <a href="/search-terms">Pesquisar por Termos</a>
    <a href="/search-url">Pesquisar por Url</a>
    <a href="/top-HackerNews">Pesquisar no HackerNews</a>
    <a href="/admin">Admin</a>
  </nav>

  <h1>Top stories - HackerNews</h1>

  <form onsubmit="searchTopStories(event)">
    <div>
      <label for="terms">Termos:</label>
      <input type="text" name="terms" id="terms">
    </div>
    <div>
      <label for="size">Limite para a busca no HackeNews:</label>
      <input type="number" name="size" id="size">
    </div>
    <button type="submit">Pesquisar</button>
  </form>

  <div class="table-container">
    <table id="pages">
      <thead>
        <tr>
          <th>Posição</th>
          <th>Título</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody id="topStories">
      </tbody>
    </table>
  </div>

</body>

</html>